--
-- PostgreSQL database dump
--

\restrict yeugXdVXUODkirJiIyYnaWOFa0am6keo3JiGTycqT7hd1v49SGsDiGdeCOWNwhG

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: create_tickets_after_payment(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.create_tickets_after_payment() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  IF NEW.status = 'paid' AND OLD.status <> 'paid' THEN

    INSERT INTO tickets (screening_id, seat_id, customer_id, reservation_id, price_cents)

    SELECT r.screening_id, rs.seat_id, r.customer_id, r.id, rs.price_cents

    FROM reservations r

    JOIN reservation_seats rs ON rs.reservation_id = r.id

    WHERE r.id = NEW.id;

  END IF;



  RETURN NEW;

END;

$$;


ALTER FUNCTION public.create_tickets_after_payment() OWNER TO admin;

--
-- Name: expire_reservations(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.expire_reservations() RETURNS void
    LANGUAGE plpgsql
    AS $$

BEGIN

  UPDATE reservations

  SET status = 'expired'

  WHERE status = 'pending'

    AND expires_at < NOW();

END;

$$;


ALTER FUNCTION public.expire_reservations() OWNER TO admin;

--
-- Name: validate_screening_overlap(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.validate_screening_overlap() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  IF EXISTS (

      SELECT 1 FROM screenings s

      WHERE s.hall_id = NEW.hall_id

        AND tstzrange(s.start_time, s.end_time)

            && tstzrange(NEW.start_time, NEW.end_time)

  ) THEN

      RAISE EXCEPTION 'Screening time overlaps with existing screening in the same hall';

  END IF;



  RETURN NEW;

END;

$$;


ALTER FUNCTION public.validate_screening_overlap() OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.customers (
    id bigint NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255),
    password character varying(255) NOT NULL,
    phone character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.customers OWNER TO admin;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.customers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.customers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employee_roles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.employee_roles (
    employee_id bigint NOT NULL,
    role_id bigint NOT NULL,
    from_date date NOT NULL,
    to_date date,
    is_primary boolean DEFAULT false NOT NULL
);


ALTER TABLE public.employee_roles OWNER TO admin;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.employees (
    id bigint NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255),
    phone character varying(50),
    hire_date date NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.employees OWNER TO admin;

--
-- Name: employees_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.employees ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: halls; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.halls (
    id bigint NOT NULL,
    name character varying(64) NOT NULL,
    capacity integer NOT NULL,
    is_3d boolean DEFAULT false NOT NULL,
    is_imax boolean DEFAULT false NOT NULL,
    wheelchair_access boolean DEFAULT true NOT NULL
);


ALTER TABLE public.halls OWNER TO admin;

--
-- Name: halls_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.halls ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.halls_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: movie_genres; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.movie_genres (
    id bigint NOT NULL,
    name character varying(128) NOT NULL
);


ALTER TABLE public.movie_genres OWNER TO admin;

--
-- Name: movie_genres_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.movie_genres ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.movie_genres_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: movies; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.movies (
    id bigint NOT NULL,
    title character varying(300) NOT NULL,
    movie_genre_id bigint NOT NULL,
    release_date date,
    runtime_min integer,
    rating character varying(20),
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.movies OWNER TO admin;

--
-- Name: movies_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.movies ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.movies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reservation_seats; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.reservation_seats (
    reservation_id bigint NOT NULL,
    seat_id bigint NOT NULL,
    price_cents integer NOT NULL
);


ALTER TABLE public.reservation_seats OWNER TO admin;

--
-- Name: reservations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.reservations (
    id bigint NOT NULL,
    customer_id bigint NOT NULL,
    screening_id bigint NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp without time zone
);


ALTER TABLE public.reservations OWNER TO admin;

--
-- Name: reservations_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.reservations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reservations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    code character varying(64) NOT NULL,
    name character varying(128) NOT NULL
);


ALTER TABLE public.roles OWNER TO admin;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: screenings; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.screenings (
    id bigint NOT NULL,
    movie_id bigint NOT NULL,
    hall_id bigint NOT NULL,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone NOT NULL,
    language character varying(32) DEFAULT 'original'::character varying NOT NULL,
    is_3d boolean DEFAULT false NOT NULL,
    base_price_cents integer NOT NULL,
    status character varying(20) DEFAULT 'scheduled'::character varying NOT NULL
);


ALTER TABLE public.screenings OWNER TO admin;

--
-- Name: screenings_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.screenings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.screenings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: seats; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.seats (
    id bigint NOT NULL,
    hall_id bigint NOT NULL,
    row_label character varying(10) NOT NULL,
    seat_number integer NOT NULL,
    seat_type character varying(32) DEFAULT 'standard'::character varying NOT NULL
);


ALTER TABLE public.seats OWNER TO admin;

--
-- Name: seats_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.seats ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.seats_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shift_assignments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.shift_assignments (
    shift_id bigint NOT NULL,
    employee_id bigint NOT NULL,
    role_id bigint
);


ALTER TABLE public.shift_assignments OWNER TO admin;

--
-- Name: shifts; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.shifts (
    id bigint NOT NULL,
    hall_id bigint,
    role_id bigint,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone NOT NULL,
    supervisor_id bigint
);


ALTER TABLE public.shifts OWNER TO admin;

--
-- Name: shifts_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.shifts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shifts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tickets; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tickets (
    id bigint NOT NULL,
    screening_id bigint NOT NULL,
    seat_id bigint NOT NULL,
    customer_id bigint,
    reservation_id bigint,
    price_cents integer NOT NULL,
    status character varying(20) DEFAULT 'sold'::character varying NOT NULL,
    sold_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    seller_employee_id bigint
);


ALTER TABLE public.tickets OWNER TO admin;

--
-- Name: tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.tickets ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tickets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: view_customer_tickets; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.view_customer_tickets AS
 SELECT t.id AS ticket_id,
    c.id AS customer_id,
    (((c.first_name)::text || ' '::text) || (c.last_name)::text) AS customer_name,
    m.title AS movie_title,
    h.name AS hall_name,
    sc.start_time,
    sc.end_time,
    t.price_cents,
    t.status,
    s.row_label,
    s.seat_number
   FROM (((((public.tickets t
     LEFT JOIN public.customers c ON ((t.customer_id = c.id)))
     LEFT JOIN public.screenings sc ON ((t.screening_id = sc.id)))
     LEFT JOIN public.movies m ON ((sc.movie_id = m.id)))
     LEFT JOIN public.halls h ON ((sc.hall_id = h.id)))
     LEFT JOIN public.seats s ON ((t.seat_id = s.id)));


ALTER VIEW public.view_customer_tickets OWNER TO admin;

--
-- Name: view_employee_shifts; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.view_employee_shifts AS
 SELECT e.id AS employee_id,
    (((e.first_name)::text || ' '::text) || (e.last_name)::text) AS employee_name,
    r.name AS role_name,
    h.name AS hall_name,
    s.start_time,
    s.end_time,
    s.supervisor_id
   FROM (((public.shifts s
     LEFT JOIN public.employees e ON ((s.supervisor_id = e.id)))
     LEFT JOIN public.halls h ON ((s.hall_id = h.id)))
     LEFT JOIN public.roles r ON ((s.role_id = r.id)));


ALTER VIEW public.view_employee_shifts OWNER TO admin;

--
-- Name: view_reservations_details; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.view_reservations_details AS
 SELECT r.id AS reservation_id,
    (((c.first_name)::text || ' '::text) || (c.last_name)::text) AS customer_name,
    m.title AS movie_title,
    h.name AS hall_name,
    r.status,
    r.created_at,
    r.expires_at
   FROM ((((public.reservations r
     JOIN public.customers c ON ((r.customer_id = c.id)))
     JOIN public.screenings s ON ((r.screening_id = s.id)))
     JOIN public.movies m ON ((s.movie_id = m.id)))
     JOIN public.halls h ON ((s.hall_id = h.id)));


ALTER VIEW public.view_reservations_details OWNER TO admin;

--
-- Name: view_screenings_with_movie; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.view_screenings_with_movie AS
 SELECT s.id AS screening_id,
    m.title AS movie_title,
    g.name AS genre,
    h.name AS hall_name,
    s.start_time,
    s.end_time,
    s.base_price_cents,
    s.is_3d,
    s.status
   FROM (((public.screenings s
     JOIN public.movies m ON ((s.movie_id = m.id)))
     JOIN public.movie_genres g ON ((m.movie_genre_id = g.id)))
     JOIN public.halls h ON ((s.hall_id = h.id)));


ALTER VIEW public.view_screenings_with_movie OWNER TO admin;

--
-- Name: view_seat_status; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.view_seat_status AS
 SELECT s.id AS seat_id,
    sc.id AS screening_id,
    s.hall_id,
    s.row_label,
    s.seat_number,
        CASE
            WHEN (t.id IS NOT NULL) THEN 'taken'::text
            WHEN ((r.id IS NOT NULL) AND ((r.status)::text = 'pending'::text)) THEN 'reserved'::text
            ELSE 'free'::text
        END AS status
   FROM ((((public.seats s
     CROSS JOIN public.screenings sc)
     LEFT JOIN public.tickets t ON (((t.seat_id = s.id) AND (t.screening_id = sc.id))))
     LEFT JOIN public.reservation_seats rs ON ((rs.seat_id = s.id)))
     LEFT JOIN public.reservations r ON (((r.id = rs.reservation_id) AND (r.screening_id = sc.id))));


ALTER VIEW public.view_seat_status OWNER TO admin;

--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.customers (id, first_name, last_name, email, password, phone, created_at) FROM stdin;
1	user	user	user	user	\N	2025-12-06 22:23:19.789921
2	adam	adam	adam	adam	\N	2025-12-06 22:42:52.28166
3	admin	admin	admin	admin	\N	2025-12-07 14:44:35.231876
\.


--
-- Data for Name: employee_roles; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.employee_roles (employee_id, role_id, from_date, to_date, is_primary) FROM stdin;
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.employees (id, first_name, last_name, email, phone, hire_date, active, created_at) FROM stdin;
1	Anna	Kowalska	anna.k@cinema.com	555-100-200	2022-01-10	t	2025-12-06 18:34:37.062244
2	Jan	Nowak	jan.n@cinema.com	555-100-201	2023-04-12	t	2025-12-06 18:34:37.062244
3	Ola	Wi┼Ťniewska	ola.w@cinema.com	555-100-202	2021-09-01	t	2025-12-06 18:34:37.062244
\.


--
-- Data for Name: halls; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.halls (id, name, capacity, is_3d, is_imax, wheelchair_access) FROM stdin;
1	Sala 1	10	f	f	t
2	Sala 2	10	t	f	t
3	Sala IMAX	10	f	t	t
\.


--
-- Data for Name: movie_genres; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.movie_genres (id, name) FROM stdin;
1	Action
2	Drama
3	Comedy
4	Horror
5	Animation
6	Sci-Fi
\.


--
-- Data for Name: movies; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.movies (id, title, movie_genre_id, release_date, runtime_min, rating, description, created_at) FROM stdin;
1	Avatar	6	2009-12-18	162	PG-13	Epic sci-fi adventure about humans exploring the alien world of Pandora.	2025-12-06 18:33:18.640886
2	Interstellar	6	2014-11-07	169	PG-13	Epic science-fiction adventure.	2025-12-06 18:33:33.129838
3	Frozen	5	2013-11-27	102	PG	Musical animation	2025-12-06 18:33:33.129838
4	John Wick	1	2014-10-24	101	R	Action thriller	2025-12-06 18:33:33.129838
\.


--
-- Data for Name: reservation_seats; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.reservation_seats (reservation_id, seat_id, price_cents) FROM stdin;
\.


--
-- Data for Name: reservations; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.reservations (id, customer_id, screening_id, status, created_at, expires_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.roles (id, code, name) FROM stdin;
1	MNG	Manager
2	CASH	Cashier
3	TCK	Ticket Inspector
4	CLEAN	Cleaning Staff
5	PROJ	Projectionist
\.


--
-- Data for Name: screenings; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: seats; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.seats (id, hall_id, row_label, seat_number, seat_type) FROM stdin;
1	1	A	1	standard
2	1	A	2	standard
3	1	A	3	standard
4	1	A	4	standard
5	1	A	5	standard
6	1	B	1	standard
7	1	B	2	standard
8	1	B	3	standard
9	1	B	4	standard
10	1	B	5	standard
\.


--
-- Data for Name: shift_assignments; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.shift_assignments (shift_id, employee_id, role_id) FROM stdin;
\.


--
-- Data for Name: shifts; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.shifts (id, hall_id, role_id, start_time, end_time, supervisor_id) FROM stdin;
\.


--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.tickets (id, screening_id, seat_id, customer_id, reservation_id, price_cents, status, sold_at, seller_employee_id) FROM stdin;
1	5	1	1	\N	2000	sold	2025-12-06 22:40:24.395083	\N
2	6	2	1	\N	2200	sold	2025-12-06 22:42:26.17918	\N
3	5	9	1	\N	2000	sold	2025-12-06 23:34:51.727843	\N
\.


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.customers_id_seq', 3, true);


--
-- Name: employees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.employees_id_seq', 3, true);


--
-- Name: halls_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.halls_id_seq', 3, true);


--
-- Name: movie_genres_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.movie_genres_id_seq', 6, true);


--
-- Name: movies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.movies_id_seq', 4, true);


--
-- Name: reservations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.reservations_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.roles_id_seq', 5, true);


--
-- Name: screenings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.screenings_id_seq', 10, true);


--
-- Name: seats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.seats_id_seq', 10, true);


--
-- Name: shifts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.shifts_id_seq', 1, false);


--
-- Name: tickets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.tickets_id_seq', 3, true);


--
-- Name: customers customers_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_email_key UNIQUE (email);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: employee_roles employee_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.employee_roles
    ADD CONSTRAINT employee_roles_pkey PRIMARY KEY (employee_id, role_id, from_date);


--
-- Name: employees employees_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key UNIQUE (email);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: halls halls_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.halls
    ADD CONSTRAINT halls_name_key UNIQUE (name);


--
-- Name: halls halls_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.halls
    ADD CONSTRAINT halls_pkey PRIMARY KEY (id);


--
-- Name: movie_genres movie_genres_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.movie_genres
    ADD CONSTRAINT movie_genres_name_key UNIQUE (name);


--
-- Name: movie_genres movie_genres_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.movie_genres
    ADD CONSTRAINT movie_genres_pkey PRIMARY KEY (id);


--
-- Name: movies movies_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_pkey PRIMARY KEY (id);


--
-- Name: reservation_seats reservation_seats_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation_seats
    ADD CONSTRAINT reservation_seats_pkey PRIMARY KEY (reservation_id, seat_id);


--
-- Name: reservations reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_pkey PRIMARY KEY (id);


--
-- Name: roles roles_code_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_code_key UNIQUE (code);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: screenings screenings_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.screenings
    ADD CONSTRAINT screenings_pkey PRIMARY KEY (id);


--
-- Name: seats seats_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.seats
    ADD CONSTRAINT seats_pkey PRIMARY KEY (id);


--
-- Name: shift_assignments shift_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shift_assignments
    ADD CONSTRAINT shift_assignments_pkey PRIMARY KEY (shift_id, employee_id);


--
-- Name: shifts shifts_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: seats_index_1; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX seats_index_1 ON public.seats USING btree (hall_id, row_label, seat_number);


--
-- Name: tickets_index_2; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX tickets_index_2 ON public.tickets USING btree (screening_id, seat_id);


--
-- Name: reservations trg_create_tickets_after_payment; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_create_tickets_after_payment AFTER UPDATE ON public.reservations FOR EACH ROW EXECUTE FUNCTION public.create_tickets_after_payment();


--
-- Name: screenings trg_validate_screening_overlap; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trg_validate_screening_overlap BEFORE INSERT OR UPDATE ON public.screenings FOR EACH ROW EXECUTE FUNCTION public.validate_screening_overlap();


--
-- Name: employee_roles employee_roles_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.employee_roles
    ADD CONSTRAINT employee_roles_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id);


--
-- Name: employee_roles employee_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.employee_roles
    ADD CONSTRAINT employee_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: movies movies_movie_genre_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_movie_genre_id_fkey FOREIGN KEY (movie_genre_id) REFERENCES public.movie_genres(id);


--
-- Name: reservation_seats reservation_seats_reservation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation_seats
    ADD CONSTRAINT reservation_seats_reservation_id_fkey FOREIGN KEY (reservation_id) REFERENCES public.reservations(id);


--
-- Name: reservation_seats reservation_seats_seat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation_seats
    ADD CONSTRAINT reservation_seats_seat_id_fkey FOREIGN KEY (seat_id) REFERENCES public.seats(id);


--
-- Name: reservations reservations_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: reservations reservations_screening_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_screening_id_fkey FOREIGN KEY (screening_id) REFERENCES public.screenings(id);


--
-- Name: screenings screenings_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.screenings
    ADD CONSTRAINT screenings_hall_id_fkey FOREIGN KEY (hall_id) REFERENCES public.halls(id);


--
-- Name: screenings screenings_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.screenings
    ADD CONSTRAINT screenings_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(id);


--
-- Name: seats seats_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.seats
    ADD CONSTRAINT seats_hall_id_fkey FOREIGN KEY (hall_id) REFERENCES public.halls(id);


--
-- Name: shift_assignments shift_assignments_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shift_assignments
    ADD CONSTRAINT shift_assignments_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id);


--
-- Name: shift_assignments shift_assignments_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shift_assignments
    ADD CONSTRAINT shift_assignments_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: shift_assignments shift_assignments_shift_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shift_assignments
    ADD CONSTRAINT shift_assignments_shift_id_fkey FOREIGN KEY (shift_id) REFERENCES public.shifts(id);


--
-- Name: shifts shifts_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_hall_id_fkey FOREIGN KEY (hall_id) REFERENCES public.halls(id);


--
-- Name: shifts shifts_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: shifts shifts_supervisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_supervisor_id_fkey FOREIGN KEY (supervisor_id) REFERENCES public.employees(id);


--
-- Name: tickets tickets_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: tickets tickets_reservation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_reservation_id_fkey FOREIGN KEY (reservation_id) REFERENCES public.reservations(id);


--
-- Name: tickets tickets_screening_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_screening_id_fkey FOREIGN KEY (screening_id) REFERENCES public.screenings(id);


--
-- Name: tickets tickets_seat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_seat_id_fkey FOREIGN KEY (seat_id) REFERENCES public.seats(id);


--
-- Name: tickets tickets_seller_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_seller_employee_id_fkey FOREIGN KEY (seller_employee_id) REFERENCES public.employees(id);


--
-- Name: TABLE customers; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT ON TABLE public.customers TO web;


--
-- Name: SEQUENCE customers_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.customers_id_seq TO web;


--
-- Name: TABLE employee_roles; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.employee_roles TO web;


--
-- Name: TABLE employees; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.employees TO web;


--
-- Name: SEQUENCE employees_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.employees_id_seq TO web;


--
-- Name: TABLE halls; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.halls TO web;


--
-- Name: SEQUENCE halls_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.halls_id_seq TO web;


--
-- Name: TABLE movie_genres; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.movie_genres TO web;


--
-- Name: SEQUENCE movie_genres_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.movie_genres_id_seq TO web;


--
-- Name: TABLE movies; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.movies TO web;


--
-- Name: SEQUENCE movies_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.movies_id_seq TO web;


--
-- Name: TABLE reservation_seats; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT ON TABLE public.reservation_seats TO web;


--
-- Name: TABLE reservations; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.reservations TO web;


--
-- Name: SEQUENCE reservations_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.reservations_id_seq TO web;


--
-- Name: TABLE roles; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.roles TO web;


--
-- Name: SEQUENCE roles_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.roles_id_seq TO web;


--
-- Name: TABLE screenings; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.screenings TO web;


--
-- Name: SEQUENCE screenings_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.screenings_id_seq TO web;


--
-- Name: TABLE seats; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.seats TO web;


--
-- Name: SEQUENCE seats_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.seats_id_seq TO web;


--
-- Name: TABLE shift_assignments; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.shift_assignments TO web;


--
-- Name: TABLE shifts; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.shifts TO web;


--
-- Name: SEQUENCE shifts_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.shifts_id_seq TO web;


--
-- Name: TABLE tickets; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.tickets TO web;


--
-- Name: SEQUENCE tickets_id_seq; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT,USAGE ON SEQUENCE public.tickets_id_seq TO web;


--
-- Name: TABLE view_customer_tickets; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.view_customer_tickets TO web;


--
-- Name: TABLE view_employee_shifts; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.view_employee_shifts TO web;


--
-- Name: TABLE view_reservations_details; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.view_reservations_details TO web;


--
-- Name: TABLE view_screenings_with_movie; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.view_screenings_with_movie TO web;


--
-- Name: TABLE view_seat_status; Type: ACL; Schema: public; Owner: admin
--

GRANT SELECT ON TABLE public.view_seat_status TO web;


--
-- PostgreSQL database dump complete
--

\unrestrict yeugXdVXUODkirJiIyYnaWOFa0am6keo3JiGTycqT7hd1v49SGsDiGdeCOWNwhG

